echo "venv/" > .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "data/" >> .gitignore
echo ".idea/" >> .gitignore
echo ".vscode/" >> .gitignore
echo "commands" >> .gitignore
