apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # INDISPENSABLE : Le secret pour télécharger l'image privée/publique
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: frontend
        # Le pipeline va pousser l'image ici :
        image: ghcr.io/chaben17/devsecops-lab/frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
