apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: service-a
        #image: devsecops-service-a:latest
        image: ghcr.io/chaben17/devsecops-lab/service-a:f713ebfd5adb9e14e5efe5d79a5c6d657fc1ceb1
        #imagePullPolicy: Never  # <--- LE DÉTAIL CRUCIAL !
        imagePullPolicy: Always
        ports:
        - containerPort: 8001
        # On s'occupera du volume partagé à l'étape suivante pour ne pas complexifier tout de suite
        volumeMounts:
        - name: shared-data
          mountPath: /data
      # 2. On définit quel est le disque réel (sur Minikube)
      volumes:
      - name: shared-data
        hostPath:
          path: /data
          type: Directory
