name: DevSecOps Pipeline

# Le pipeline se lance à chaque "push" sur la branche main
on:
  push:
    branches: [ "main" ]

jobs:
  security-sast:
    runs-on: ubuntu-latest
    steps:
      # 1. Le robot récupère ton code
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # IMPORTANT : Récupère tout l'historique Git pour Gitleaks
      #2.0 secret Scanning avec Gitleaks
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
           verbose: true
      # 2.1 n installe Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      # 3. On installe le scanner de sécurité (Bandit)
      - name: Install Security Tools
        run: pip install bandit

      # 4. On lance l'analyse
      # -r : récursif (tout le dossier)
      # -ll : niveau de sévérité (Medium et High seulement)
      - name: Run Bandit (SAST)
        run: bandit -r .
        # 5. Analyse des dépendances (SCA) avec Trivy
      - name: Run Trivy vulnerability scanner (SCA)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'                # fs = filesystem (fichiers)
          scan-ref: '.'                  # '.' = scanne tout le dossier courant ET les sous-dossiers (service_a/b)
          format: 'table'
          exit-code: '1'                 # 1 = Fait échouer le pipeline si failles trouvées
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          # 6. Construction de l'image Docker (Build)
      - name: Build Docker Image Service A
        run: |
          cd service_a
          docker build -t service-a:latest .

      # 7. Scan de l'image Docker avec Trivy
      - name: Run Trivy container scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'service-a:latest'
          format: 'table'
          exit-code: '1'                 # Bloque le pipeline si faille critique
          ignore-unfixed: true
          severity: 'CRITICAL'
          # 8. Démarrer l'API
      - name: Start Container for DAST
        run: |
          # Correction : On map 8001 (Externe) vers 8001 (Interne, défini dans ton Dockerfile)
          docker run -d -p 8001:8001 --name service-a-test service-a:latest
          sleep 10
          # 9. Scan DAST (Baseline)
      - name: Run OWASP ZAP (DAST)
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'http://localhost:8001/products/'
          fail_action: false
          create-issue: 'false'
