name: Dependency Scan (Trivy)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  trivy-fs-scan:
    name: Trivy File System Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          hide-progress: false
          format: 'table'
          exit-code: '1'                 # 1 = Fait échouer le job si failles trouvées
          ignore-unfixed: true           # Ignore les failles qui n'ont pas encore de correctif
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'      # On ne s'arrête que pour le très grave
